.left-column {
    width: 60%;
    display: flex;
    flex-direction: column;

    align-items: flex-end;
    padding-right: 80px;
}

.left-column-item {
    display: flex;
    margin-bottom: 50px;
}

.locationDiv {
    display: flex;
    flex-direction: column;

}

.locationDiv > div:nth-child(1) {
    display: flex;  
    padding-bottom: 20px;
}
.locationDiv > div:nth-child(2) input {
    margin-top: 3px;
    margin-right: 3px;
}

.inputDiv {
    display: flex;
}

.inputDiv input {
    width: 150px;
}

.headerDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 30px;
}

.headerDiv div {
    height: 21px;
}
