.left-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 80px;
}

.left-column-item {
    display: flex;
    margin-bottom: 50px;
    width: 100%;
}

.locationDiv {
    display: flex;
    width: 33%;
    justify-content: space-between;
    flex-direction: column;
}

.locationDiv > div:nth-child(1) {
    display: flex;  
    padding-bottom: 20px;
}
.locationDiv > div:nth-child(2) input {
    margin-top: 3px;
    margin-right: 3px;
}

.inputDiv {
    display: flex;
}

.inputDiv input {
    width: 150px;
}

.locationDiv div {
    display: flex;
    flex-direction: column;
}

.locationDiv input {
    flex-grow: 1;
}

.headerDiv {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 30px;
    text-align: right;
}

.headerDiv div {
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 21px;
}

@media(max-width: 768px) {
    .left-column {
        width: 100%;
        padding-right: 0;
    }
}