.container {
    width: 100%;
    display: flex;
}

.container-center {
    margin: auto;
    margin-bottom: 100px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px; 
    padding-bottom: 40px;
    background-color: #f5eee3;
    font-family: 'Mason Chronicles';
    font-weight: bold;
}

.HeroCard {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.border-container {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
}

.border-top, 
.border-bottom {
  border: 3px solid #AF8B52;
  height: 12px;
  position: relative;
}

.border-top:before, 
.border-top:after, 
.border-bottom:before, 
.border-bottom:after {
  content: "";
  position: absolute;
  border: 3px solid #AF8B52;
  width: 20px;
  height: 20px;
}

.border-top:before {
    border-radius: 0 99%;
    left: -20px;
    top: -20px;
}
.border-top:after {
    border-radius: 99% 0;
    right: -20px;
    top: -20px;
}
.border-bottom:before {
    border-radius: 99% 0;
    left: -20px;
    bottom: -20px;
}
.border-bottom:after {
    border-radius: 0 99%;
    right: -20px;
    bottom: -20px;
}
.border-center {
    border-left: 3px solid #AF8B52;
    border-right: 3px solid #AF8B52;
}

.header-name {
    max-width: 301px;
    height: 60px;
    border-bottom: #AF8B52 solid 1px;
    display: flex;
}

.header-name input {
    height: 20px;
}

.name {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;  
    padding: 5px;  
}

.name .label {
    flex-grow: 2;
    white-space: nowrap;
    margin-right: 5px;
}

.name .control {
    flex-grow: 1;
}

.name input {
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border: #AF8B52 solid 1px;
    border-radius: 3px;
}

.location-counter {
    width: 50%;
    padding: 5px; 
}

.location {
    display: flex;
    justify-content: space-between;    
}

.location input {
    width: 50%;
    border: #AF8B52 solid 1px;
    border-radius: 3px;
    text-align: center;
}

.counter {
    display: flex;
    justify-content: space-between;    
}

.counter input {
    width: 50%;
    border: #AF8B52 solid 1px;
    border-radius: 3px;
    text-align: center;
}

.characteristics {
    display: flex;
}

button.clear {
    height: 60px;
    width: 120px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-family: 'Mason Chronicles';
    font-weight: bold;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    border: #AF8B52 solid 3px;
    background-color: #f5eee3;
}

button.clear:active {
    background-color: #AF8B52;
}

.DivButtonCardDeck {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.DivButtonCardDeck button{
    width: max-content;
}

@media(max-width: 768px) {
    .container-center {
        margin-bottom: 0;
        padding: 0;
        padding-bottom: 100px;
        overflow: hidden;
    }
}

