.container {
    background-color: #f5eee3;
    padding-top: 40px; 
    padding-bottom: 20px;  
    font-family: 'Mason Chronicles';
    font-weight: bold
}

.HeroCard {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.border-container {
    padding: 40px;
    
    /*margin: 20px;
    border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px black;*/
}

.border-top, 
.border-bottom {
  border: 3px solid #AF8B52;
  height: 12px;
  position: relative;
}

.border-top:before, 
.border-top:after, 
.border-bottom:before, 
.border-bottom:after {
  content: "";
  position: absolute;
  border: 3px solid #AF8B52;
  width: 20px;
  height: 20px;
}

.border-top:before {
    border-radius: 0 99%;
    left: -20px;
    top: -20px;
  }
  .border-top:after {
    border-radius: 99% 0;
    right: -20px;
    top: -20px;
  }
  .border-bottom:before {
    border-radius: 99% 0;
    left: -20px;
    bottom: -20px;
  }
  .border-bottom:after {
    border-radius: 0 99%;
    right: -20px;
    bottom: -20px;
  }
  .border-center {
    border-left: 3px solid #AF8B52;
    border-right: 3px solid #AF8B52;
  }


.header-name {
    width: 301px;
    height: 60px;
    border-bottom: #AF8B52 solid 1px;
    /*border-right: black solid 1px;*/
    display: flex;
}

.header-name input {
    width: 20px;
    height: 20px;
}

.name {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;  
    padding: 5px;  
}

.name input {
    width: 70%;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border: #AF8B52 solid 1px;
    border-radius: 3px;
}

.location-counter {
    width: 50%;
    padding: 5px; 
}

.location {
    display: flex;
    justify-content: space-between;    
}

.location input {
    width: 50%;
    border: #AF8B52 solid 1px;
    border-radius: 3px;
}

.counter {
    display: flex;
    justify-content: space-between;    
}

.counter input {
    width: 50%;
    border: #AF8B52 solid 1px;
    border-radius: 3px;
}

.characteristics {
    display: flex;
}

.clear {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}
.clear button {
    height: 30px;
    width: 120px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}



