.statusesDiv-List {
    width: 50%;
}


#statusesDiv {
    display: flex;
    background-color: #f5eee3;
    justify-content: center;
    padding: 20px;
}

h1 {
    display: flex;
    justify-content: center;
}

#firstDiv {
    padding-bottom: 100px;
    max-width: 1000px;
    margin: auto;
}

@media(max-width: 768px) {
    #statusesDiv {
        padding-top: 20px;
        padding-bottom: 100px;
        display: block;
    }
    .statusesDiv-List {
        width: 100%;
    }
    #firstDiv {
        padding-bottom: 0;
    }
}