html {
  font-size: 100%;
}

body {
  width: 100%;
  height: 100vh;
  background: url(/tintedgrailback.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-position: 50% 45%;
  background-attachment: fixed;
}

body > div {
  background-color: black;
  background: radial-gradient(circle, rgb(0 0 0 / 84%) 30%, rgb(0 0 0 / 0.50) 100%);
}

button {
  outline: none;
}
button:disabled {
  opacity: 0.5;
}

input {
  outline: none;
}


